*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

.logo {
    height: 100px;
    margin-left: 50px; 
}
.Ub{
    color: #ffffff;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.custom-navbar {
    background-color: #5d0000;
    padding-right: 100px; 
    margin-top: 1px;
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255, 0.5), hsl(0, 100%, 18%)), url('../resources/img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 65vh;
  }  

.card1{
    background-color: #0000002f;
}

.footer{
    min-height: 5vh;
    background-color:#5d0000;
}

/*loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5d0000; 
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.logoimg {
    max-width: 500px; 
    position: relative;
    z-index: 1;
}

.filling {
    width: 0;
    height: 5px; 
    background-color: #ebac2c; 
    transition: width 2s ease;
    margin-top: 200px;
}

.header {
    display: none;
}
/* end of loader*/

/* News/An */
.card2{
    background-color: #ebac2c;
}
.card3{
    background-color: #5d0000;
}
.NewsAn {
    min-height: 100vh;
    background-color:#5d0000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    color: #4f2d28;
}
.textNa {
    color: #ffffff;
    text-align: left;
    font-weight: 600; 
}
.textdesc{
    color: #ffffff;
    text-align: center;
    font-weight: 600; 
}

.image1, .image2 {
    width: 350px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.containerNa{
    background-color: #5d0000;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of News/An */

/*Course and Admission */

.textca{
    color: #fffffe;
}

.cardca{
    background-color: #5d0000;
}

.containerca{
    background-color: #ebac2c;
}

.textadhead{
    color:#4f2d28;
    text-align: center;
}

.textad{
    color:#4f2d28;
    text-align: center;
}

.textprog{
    text-align: center;
}
.form-label {
    margin-right: 10px; 
  }

.form-element {
    margin-top: 10px; /
}

.btn{
    background-color: #5d0000;
    color:#ffffff;
    font-weight: bold;
}

.containerprogs {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.image-container {
    text-align: center; 
    margin-top: 30px; 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  /* Style for the image */
  .image-container img {
    max-width: 100%; 
    border: 1px solid #ccc;
  }

  .overlay-button {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #5d0000; 
    font-weight: bold;
    color: white; 
    padding: 20px 80px; /* Adjust button padding */
    border: 3px;
    cursor: default;
  }

  img {
    width: 550px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ccc; 
  }

/* End Course and Admission */

/*Back to Top button */
#backToTopBtn {
    display: none; /* Hide the button by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    padding: 20px 20px;
    background-color: #ebab2ca3;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

/* Style when hovering over the button */
#backToTopBtn:hover {
    background-color: #ebac2c;
}

#backToTopBtn::before {
    content: "⮝"; /* Unicode up arrow character */
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}